$colorSelectSite: #F16D7F;
$widthSite: 1140px;
$otsupDesktop: 50% - $widthSite/2;

a { text-decoration: none;}
.center{
    padding-left: $otsupDesktop;
    padding-right: $otsupDesktop;
}
.header{
    width: $widthSite;
    height: 100px;
    border: 1px solid #000;
}
.top-head__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorSelectSite;
}

.breadcrumbs__link{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #636363;
}

.breadcrumbs__link_site{
    font-weight: 700;
    color: $colorSelectSite;
}