* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 32px;
}

.title {
  font-size: 2 rem;
}

.heading {
  font-size: 1.5 rem;
}

.text {
  font-size: 1 rem;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.content {
  min-height: 100vh;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 20px;
}
.content_1 {
  min-height: 100vh;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.content_2 {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.content_3 {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.item {
  background: #ccc;
  box-sizing: border-box;
  border: 1px solid black;
  grid-auto-flow: dense;
}
.item1 {
  background-color: red;
  min-height: 100px;
}
.item_1 {
  grid-column: span 2;
  grid-row: span 2;
}
.item_8 {
  grid-column: span 2;
  grid-row: span 2;
}
.item2 {
  border: 1px solid black;
  width: calc((100vw - 48px) / 4);
  min-height: calc((100vh - 32px) / 3);
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  html {
    font-size: 28px;
  }
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
  .item2 {
    width: calc((100vw - 32px) / 3);
    min-height: calc((100vh - 48px) / 4);
  }
}
@media (max-width: 767px) {
  html {
    font-size: 24px;
  }
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
  .item {
    height: calc((100vh - 32px) / 3);
  }
  .item_8 {
    grid-row: 5;
  }
  .item2 {
    width: calc((100vw - 16px) / 2);
    min-height: calc((100vh - 32px) / 3);
  }
}