@import "mixins";
@import "vars";

@media (max-width: 1024px), (max-width: 768px) {
    //index.html

    h1 {
        font-size: 4.4rem;
    }
    .section_top {
        .subtitle {
            font-size: 2.4rem;
        }
    }
    .catalog {
        &_grid {
            @include GridTemplateColumns(2, 1fr);
        }
    }
    .feature {
        .container {
            @include GridTemplateColumns(1, 360px);
            gap: 48px;
            padding-top: 48px;
            padding-bottom: 64px;
        }
        .icon1,
        .icon2,
        .icon3 {
            padding-top: 0px;
        }
        .text {
            padding-bottom: 0;
        }
    }
    .subscribe {
        .container {
            @include GridTemplateColumns(1, 1fr);
            gap: 48px;
        }
        h2 {
            padding-top: 0;
        }
    }
    .footer {
        padding-left: 32px;
        padding-right: 32px;
    }
    //product.html
    .item:last-child {
        display: none;
    }
    .product {
        .container {
            padding-left: 0px;
            padding-right: 0px;
        }
        &__block{
            margin-top: 0;
           
        }
        .sub_price{
            width: 80vw;
            padding-left: 64px;
            padding-right: 64px;
        }
    }

    //catalog.html

    .item:last-child {
        display: none;
    }
    .filter{
        position: relative;
        
        &__summary{
            position: absolute;
            z-index: 11;
            padding-left: 15px;
        }
        &-sort{
            width: 100%;
            justify-content: space-between;
        }
        &[open] {
            box-shadow: none;
            background-color: none;
            padding: 0;
            .filter__summary{
                padding-top: 13px;
            }
        }
        &__content{
            width: 360px;
            top:0;
            padding-top: 50px;
            position: absolute;
            background-color: white;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 16px;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

        }
    }
    .sort {
       left:0;
    }

    .catalog {
        padding-left: 16px;
        padding-right: 16px;
    }
   


}

@media (max-width: 1024px) {
    //index.html
    .container {
        @include container($indent-tablet1024);
    }
}
@media (max-width: 768px) {
    //index.html
    .container {
        @include container($indent-tablet);
    }
    .top,
    .header_content {
        flex-wrap: nowrap;
    }
}

@media (max-width: 425px), (max-width: 375px) {
    //index.html
    h1 {
        font-size: 3.8rem;
    }
    nav .cart,
    nav .login,
    .slaid-content {
        display: none;
    }
    .section_top {
        .subtitle {
            font-size: 2rem;
        }
    }
    .top {
        justify-content: center;
    }
    .header_content {
        padding-top: 149px;
        padding-bottom: 148px;
    }
    .offer {
        @include GridTemplateColumns(1, 1fr);
        padding: 64px 16px;
    }
    .item_sale:last-child {
        grid-column: 1;
    }
    .catalog_grid {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 8px;
        padding-right: 8px;
    }
    .under_img {
        max-height: 477px;
    }
    .img_catalog2 {
        width: 34% !important;
    }
    .footer {
        padding-top: 43px;
        padding-bottom: 9px;
        &__content {
            flex-direction: column-reverse;
            gap: 40px;
        }
    }

    //product.html
    .breadcrumb {
        &__header {
            padding-top: 0;
            padding-bottom: 0;
        }
        &__space_between {
            flex-direction: column;
            gap: 32px;
            padding-top: 24px;
            padding-bottom: 46.4px;
        }
    }
    .slaid {
        height: 624px;
        &__images {

            padding-top: 85px;
            padding-bottom: 85px;
        }
        &__image{
            width: 100%;
        }
    }
    .product {
        .container {
            padding-left: 0px;
            padding-right: 0px;
        }
        &__block{
            margin-top: 0;
            &_text{
                width: 80vw;
            }
        }
        .sub_price{
            width: 175px;
        }
        .sort {
            &_item {
                &_text {
                    font-size: 10px;
                }
            }
            &__summary-head{
                font-size: 12px;
            }
        }

    }
  //catalog.html
    .filter{
        position: relative;
        width: auto;
        
        &__summary{
            position: absolute;
            z-index: 11;
            padding-left: 15px;   
        }
        &__heading{
            display: none;
        }
        &-sort{
            width: 100%;
            justify-content: space-between;
            padding-bottom: 32px;
        }
        &[open] {
            box-shadow: none;
            background-color: none;
            padding: 0;
            .filter__summary{
                padding-top: 13px;
            }
        }
        &__content{
            width: 360px;
            top:0;
            padding-top: 50px;
            position: absolute;
            background-color: white;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 16px;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

        }
        .svg {
            width: 25px;
            height: 25px;
        }
    }
    .sort {
        left:auto;
        padding-top: 5px;
        gap: 24px;
        &__summary-head{
            font-size: 12px;
        }
    }
    
}
@media (max-width: 425px) {
    //index.html
}
@media (max-width: 375px) {
    //index.html
}
