@mixin font($size, $weight, $LineHeight) {
    font-size: $size;
    font-weight: $weight;
    line-height: $LineHeight;
}

@mixin container($indent) {
    padding-left: $indent;
    padding-right: $indent;
}
@mixin translateXmix($num, $ease...) {
    -webkit-transform: translateX($num);
    transform: translateX($num);
    -webkit-animation-timing-function: $ease;
    animation-timing-function: $ease;
}
@mixin translatemix($num...) {
    -webkit-transform: translate($num);
    transform: translate($num);
}
@mixin GridTemplateColumns($part, $num) {
    display: grid;
    grid-template-columns: repeat($part, $num);
}

@mixin flex($direction, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}
@mixin flexJA($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
