$colorblack: #000000;
$colordark: #222222;
$colorpurple: #f16d7f;
$colorpink: #f1e4e6;
$colorwhite: #fff;
$colorgrey: #9f9f9f;
$colorgrey1: #f7f7f7;
$breadcrumb: #f8f3f4;
$colorlightcolor1: #f8f8f8;
$colorlightcolor2: #f7e4e2;
$colorlightcolor3: #fbfbfb;
$font_text: #5d5d5d;
$buttoncolor: #ff6a6a;
$colordark_image: rgb(33, 22, 22);
$colordark-overpal: rgba(33, 22, 22, 0.7);
$indent-desktop: calc(50% - 570px);
$indent-tablet1024: calc(50% - 496px);
$indent-tablet: calc(50% - 368px);
$indent-mob768: calc(50% - 172px);
$font-family: "Lato", sans-serif;
$slaidHeigth: 777px;
$slaidbox: 47px;
$slaidboxbg: rgba(42, 42, 42, 0.15);
