@media (max-width: 1024px), (max-width: 768px) {
  h1 {
    font-size: 4.4rem;
  }
  .section_top .subtitle {
    font-size: 2.4rem;
  }
  .catalog_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .feature .container {
    display: grid;
    grid-template-columns: repeat(1, 360px);
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .feature .icon1,
  .feature .icon2,
  .feature .icon3 {
    padding-top: 0px;
  }
  .feature .text {
    padding-bottom: 0;
  }
  .subscribe .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 48px;
  }
  .subscribe h2 {
    padding-top: 0;
  }
  .footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .item_last {
    display: none;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: calc(50% - 496px);
    padding-right: calc(50% - 496px);
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .top,
  .header_content {
    flex-wrap: nowrap;
  }
}
@media (max-width: 425px), (max-width: 375px) {
  h1 {
    font-size: 3.8rem;
  }
  nav .cart,
  nav .login,
  .slaid-content {
    display: none;
  }
  .section_top .subtitle {
    font-size: 2rem;
  }
  .top {
    justify-content: center;
  }
  .header_content {
    padding-top: 149px;
    padding-bottom: 148px;
  }
  .offer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 64px 16px;
  }
  .item_sale:last-child {
    grid-column: 1;
  }
  .catalog_grid {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 8px;
    padding-right: 8px;
  }
  .under_img {
    max-height: 477px;
  }
  .img_catalog2 {
    width: 34% !important;
  }
  .footer {
    padding-top: 43px;
    padding-bottom: 9px;
  }
  .footer__content {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .breadcrumb__header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .breadcrumb__space_between {
    flex-direction: column;
    gap: 32px;
    padding-top: 24px;
    padding-bottom: 46.4px;
  }
  .slaid {
    height: 624px;
  }
  .slaid__images {
    width: 100%;
    padding-top: 85px;
    padding-bottom: 85px;
  }
}