@media (max-width: 1024px), (max-width: 768px) {
  h1 {
    font-size: 4.4rem;
  }
  .section_top .subtitle {
    font-size: 2.4rem;
  }
  .catalog_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .feature .container {
    display: grid;
    grid-template-columns: repeat(1, 360px);
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .feature .icon1,
.feature .icon2,
.feature .icon3 {
    padding-top: 0px;
  }
  .feature .text {
    padding-bottom: 0;
  }
  .subscribe .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 48px;
  }
  .subscribe h2 {
    padding-top: 0;
  }
  .footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .item:last-child {
    display: none;
  }
  .product .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .product__block {
    margin-top: 0;
  }
  .product .sub_price {
    width: 80vw;
    padding-left: 64px;
    padding-right: 64px;
  }
  .item:last-child {
    display: none;
  }
  .filter {
    position: relative;
  }
  .filter__summary {
    position: absolute;
    z-index: 11;
    padding-left: 15px;
  }
  .filter-sort {
    width: 100%;
    justify-content: space-between;
  }
  .filter[open] {
    box-shadow: none;
    background-color: none;
    padding: 0;
  }
  .filter[open] .filter__summary {
    padding-top: 13px;
  }
  .filter__content {
    width: 360px;
    top: 0;
    padding-top: 50px;
    position: absolute;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  }
  .sort {
    left: 0;
  }
  .catalog {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: calc(50% - 496px);
    padding-right: calc(50% - 496px);
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .top,
.header_content {
    flex-wrap: nowrap;
  }
}
@media (max-width: 425px), (max-width: 375px) {
  h1 {
    font-size: 3.8rem;
  }
  nav .cart,
nav .login,
.slaid-content {
    display: none;
  }
  .section_top .subtitle {
    font-size: 2rem;
  }
  .top {
    justify-content: center;
  }
  .header_content {
    padding-top: 149px;
    padding-bottom: 148px;
  }
  .offer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 64px 16px;
  }
  .item_sale:last-child {
    grid-column: 1;
  }
  .catalog_grid {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 8px;
    padding-right: 8px;
  }
  .under_img {
    max-height: 477px;
  }
  .img_catalog2 {
    width: 34% !important;
  }
  .footer {
    padding-top: 43px;
    padding-bottom: 9px;
  }
  .footer__content {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .breadcrumb__header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .breadcrumb__space_between {
    flex-direction: column;
    gap: 32px;
    padding-top: 24px;
    padding-bottom: 46.4px;
  }
  .slaid {
    height: 624px;
  }
  .slaid__images {
    padding-top: 85px;
    padding-bottom: 85px;
  }
  .slaid__image {
    width: 100%;
  }
  .product .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .product__block {
    margin-top: 0;
  }
  .product__block_text {
    width: 80vw;
  }
  .product .sub_price {
    width: 175px;
  }
  .product .sort_item_text {
    font-size: 10px;
  }
  .product .sort__summary-head {
    font-size: 12px;
  }
  .filter {
    position: relative;
    width: auto;
  }
  .filter__summary {
    position: absolute;
    z-index: 11;
    padding-left: 15px;
  }
  .filter__heading {
    display: none;
  }
  .filter-sort {
    width: 100%;
    justify-content: space-between;
    padding-bottom: 32px;
  }
  .filter[open] {
    box-shadow: none;
    background-color: none;
    padding: 0;
  }
  .filter[open] .filter__summary {
    padding-top: 13px;
  }
  .filter__content {
    width: 360px;
    top: 0;
    padding-top: 50px;
    position: absolute;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  }
  .filter .svg {
    width: 25px;
    height: 25px;
  }
  .sort {
    left: auto;
    padding-top: 5px;
    gap: 24px;
  }
  .sort__summary-head {
    font-size: 12px;
  }
}/*# sourceMappingURL=media.css.map */